



.about-wrapper {
    display: flex;
    flex-direction: row;
    background-color: rgb(20, 20, 20);
    min-height: calc(100vh - 50px - 100px);
    max-height: calc(100vh - 50px - 100px);
    width: 100%;
    color: white;
}

.about-content {
    padding-top: 7%;
    padding-left: 15%;
    width: 30%;
}

.about-content h2 {
    border-bottom: solid white 1px;
    width: 50%;
    padding: 5px;
}

.about-content p {
    width: 100%;
    padding-top: 5px;
    margin-bottom: 100px;
    letter-spacing: 1px;
}

.diamond-content {
    position: relative;
    clip-path: polygon(50% 0%, 85% 50%, 50% 100%, 15% 50%);
    width: 550px;
    height: 650px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(20, 20, 20);
}

.diamond-image {
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    object-fit: cover;
    width: 70%;
}
